body {
  font-size: 17px;
  color: #000000;
  background-color: #D3D3D3;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;    
}
hr {
  border: none; 
  background-color: red;
  color: red; 
  height: 2px; 
}