.projects-container {
  opacity: 0;
  float: left;
  width: 699px;
  border-left: 1px solid #403f44;
  animation: projects-container 1s 1 0.3s;
  animation-fill-mode: forwards;

  &__block {
    margin: 25px 30px;
    h4 {
      color: #29c782;
    }

    img {
      // width 1250, heigh 500
      max-width: 400px;
      border-radius: 2px;
      border: 2px solid #29c782;
      background-color: #29c782ad;
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes projects-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
