.projects-container {
  opacity: 0;
  float: left;
  width: 699px;
  border-left: 1px solid #403f44;
  animation: projects-container 1s 1 0.3s;
  animation-fill-mode: forwards;

  &__block {
    margin: 25px 30px;
    img {
      // width 1250, heigh 500
      max-width: 350px;
      border-radius: 2px;
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      p:nth-child(1) {
        color: #48da9b;
      }

      p:nth-child(2) {
        margin-left: 10px;
        border-bottom: 1px dashed #48da9b;
      }
    }
  }
}

@keyframes projects-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
