.vertical-timeline {
  padding: 0 !important;
  width: 100% !important;
  color: #000 !important;

  :first-child {
      img {
          margin-top: 25px;
      }
  }

  &-element {
    margin: 0 !important;

    &:after {
      content: none !important;
      display: none !important;
    }
  }

  &-element-content {
    color: #e4e3e8;
    border-radius: 0 !important;
    border: 1px solid #48da9b7b;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-element-content-arrow {
    margin-left: 2px;
    border-right: 15px solid rgb(71 217 154);
  }

  &-element-icon {
    background: #202020;
    box-shadow: 0 0 0 1px #434247, 0px 0px 15px 5px rgb(0 0 0 / 20%),
      0 3px 0 4px rgb(0 0 0 / 5%);
  }

  &-element-date {
    font-size: 17px !important;
    color: #48da9b !important;
    font-weight: bold !important;
  }

  &:before {
    width: 1px !important;
    background-color: #434247 !important;
  }
}
