.left-col {
  opacity: 0;
  float: left;
  width: 260px;
  animation: left-col 0.6s 1 1.6s;
  animation-fill-mode: forwards;

  &__photo {
    width: 230px;
    height: 340px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }

  &__hello {
    width: 230px;
  }
}

@keyframes left-col {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
