.left-col {
  float: left;
  width: 260px;

  &__photo {
    width: 230px;
    height: 340px;
    margin-top: 20px;
    border-radius: 2px;
    pointer-events: none;
    border: 2px solid #48da9b;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }

  &__hello {
    width: 230px;
  }

  &__contacts {
    p {
      margin: 20px 0 0 0;
      color: #837c9a;
    }

    a {
      text-decoration: none;
    }
  }

  &__sendmessage {
    z-index: 1;
    width: 230px;
    height: 50px;
    display: block;
    margin-top: 25px;
    position: relative;
    background: #48da9b;

    :nth-child(1):after,
    :nth-child(2):before {
      z-index: 3;
      width: 30px;
      height: 30px;
      position: absolute;
      transform: rotate(45deg);
      background-image: url("../../assets/backgrounds/dark.png");
    }

    :nth-child(1):after {
      content: "";
      left: -20px;
      bottom: -19px;
    }

    :nth-child(2):before {
      content: "";
      top: -19px;
      right: -20px;
    }

    :nth-child(3) {
      top: -4px;
      margin: 0;
      z-index: 2;
      width: 100%;
      height: 40px;
      bottom: 10px;
      font-size: 18px;
      color: #04080b;
      position: absolute;
      padding: 16px 0 0;
      text-align: center;
      border-top: 1px solid #403f44;
      border-bottom: 1px solid #403f44;
    }

    &:hover {
      background: #29c782;
    }
  }

  &__social {
    h2 {
      margin-bottom: 10px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    .github,
    .linkedin,
    .telegram {
      &:hover {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.15);
      }
    }

    .telegram {
      margin: 0 15px 0 10px;

      &:hover {
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }

    .github {
      &:hover {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
      }
    }

    .linkedin {
      &:hover {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
      }
    }
  }
}
