@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.clear {
	clear: both;
}

.purple {
	color: #837c9a;
}

.block {
	margin: 25px 30px;
}

.block h1 {
	margin-left: -5px;
	font-weight: 200;
}

.last.block {
	margin-bottom: 110px;
}

.horizontal_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.horizontal_list li {
	float: left;
}

.horizontal_list li:before {
	content: none;
}

.horizontal_list li { 
	padding-left: 0; 
	text-indent: 0;
}

.horizontal_line{
	margin: 34px 0 0 30px;
	height: 26px;
	position: relative;	
}

.line_left,
.line_right{
	border-top: 1px solid #434247;
	width: 305px;
	margin-top: 13px;
}

.line_left{
	float: left;
}

.line_right {
	float: right;
}

.left_circle, 
.central_circle, 
.right_circle {
	background: rgb(69,68,73);
	background: rgba(255,255,255, 0.15);
	position: absolute;
	border-radius: 50px;
}
    
.left_circle, 
.right_circle {
	width: 13px;
	height: 13px;
	top: 7px;
}

.left_circle{
	left: 314px;
}

.central_circle{
	width: 26px;
	height: 26px;		
	top: 0px;
	left: 322px;
}

.right_circle{
	left: 343px;
}