.stars-wrapper {
  width: 45%;
  display: flex;
  padding-right: 5px;
  align-items: center;
  justify-content: space-between;
}

.stars {
  font-size: 0;
  cursor: pointer;
  display: inline-block;
}

.stars > span:before {
  content: "★";
}

.stars span {
  padding: 0;
  line-height: 1;
  font-size: 30px;
  color: #000000;

  &:hover {
    color: rgba(255, 217, 0, 0.925);
  }
}

.stars > span.filled {
  color: rgba(255, 217, 0, 0.891);
}
