.first-line,
.second-line {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.stage {
  position: relative;
  margin: 0 13px 25px 13px;
  transform-style: preserve-3d;
}

.side {
  min-width: 65px;
  max-width: 65px;
  max-height: 65px;
  min-height: 65px;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #48da9b7b;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  background: url('../../../assets/backgrounds/dark.png');

  img {
    min-width: 80%;
    max-width: 80%;
  }
}

.cubespinner {
  width: 65px;
  height: 65px;
  pointer-events: none;
}

.top {
  transform: translateY(-2em) rotateX(90deg);
}
.front {
  transform: translateZ(2em);
}
.right {
  transform: translateX(2em) rotateY(90deg);
}
.back {
  transform: translateZ(-2em);
}
.left {
  transform: translateX(-2em) rotateY(90deg);
}
.bottom {
  transform: translateY(2em) rotateX(90deg);
}
