@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./utils/fonts/Lato-Light.ttf) format("woff");
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "MyFont", Helvetica, sans-serif;
  background: url("./assets/backgrounds/dark.png") repeat;
}

#root {
  opacity: 0;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  animation: root 0.5s 1 1s;
  animation-fill-mode: forwards;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #48da9b;
}

p,
a,
li,
blockquote {
  font-size: 15px;
  font-weight: 300;
  color: #e4e3e8;
}

h1 {
  margin: 20px 0;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  margin: 32px 0 24px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

a:focus {
  outline: none;
}

.df {
  display: flex;
  align-items: baseline;
}

.ml5 {
  margin-left: 5px;
}

.mt0 {
  margin-top: 0;
}

.active {
  color: #48da9b !important;
}

.clear {
  clear: both;
}

.horizontal-line {
  height: 26px;
  position: relative;
  margin: 34px 0 0 30px;
}

.line-left,
.line-right {
  width: 205px;
  margin-top: 13px;
  border-top: 1px solid #434247;
}

.line-left {
  float: left;
}

.line-right {
  margin-left: 58px;
  float: left;
}

.left-circle,
.central-circle,
.right-circle {
  position: absolute;
  border-radius: 50px;
  background: rgb(69, 68, 73);
  background: rgba(255, 255, 255, 0.15);
}

.left-circle,
.right-circle {
  top: 7px;
  width: 13px;
  height: 13px;
}

.left-circle {
  left: 214px;
}

.central-circle {
  top: 0px;
  width: 26px;
  left: 222px;
  height: 26px;
}

.right-circle {
  left: 243px;
}

@keyframes root {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
