@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./utils/fonts/Lato-Light.ttf) format("woff");
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "MyFont", Helvetica, sans-serif;
  background: url("./assets/backgrounds/dark.png") repeat;
}

#root {
  width: 960px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #48da9b;
}

p,
a,
li,
blockquote {
  font-size: 15px;
  font-weight: 300;
  color: #e4e3e8;
}

h1 {
  margin: 20px 0;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  margin: 32px 0 24px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

a:focus {
  outline: none;
}

.df {
  display: flex;
  align-items: baseline;
}

.ml5 {
  margin-left: 5px;
}

.mt0 {
  margin-top: 0;
}

.active {
  color: #48da9b !important;
}

.clear {
  clear: both;
}
